body{
    background: #fff;
    margin: 0px;
}

header{
    background: #00f;    
}

.coluna1{
    float:left;
    width:33.33%;
    background: #0f0;
}

.coluna2{
    float:left;
    width:33.33%;
    background: #ff0;
}

.coluna3{
    float:left;
    width:33.33%;
    background: rgb(74, 5, 127);
}